.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  div {
    padding: 1.5rem 2rem;
    border-radius: 5px;

    color: var(--title);
    background: var(--shape);

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1rem;
    }

    strong {
      font-size: 2.25rem;
      font-weight: 500;
    }
  }

  .total {
    background: var(--green);
    color: var(--shape);
  }
}
